@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@200;300;400;600&display=swap');

body{
    /*margin: 0px 60px;*/
    background-color: #FDF9F9;
    overflow-x: hidden;
    font-family: "Inter",'Dm Serif Display' ;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/***************************************** HEADER *************************************************************/

.logo{
    display: flex;
    position: absolute;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%; /* Alignez le haut du header au milieu de la page */
    left: 50%;
    transform: translate(-50%,-900%);
    width: 100%;
}

.navbar-ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 7px;
    text-align: center;
}

.liens{
    text-align: center;
    margin: 0px 20px;
}

.liensnav{
    font-size: 20px;
    color: #FDF9F9;
    text-decoration: none;
}

/* ************************************* BODY ****************************************************************** */

button{
    background-color: #800404;
    font-size: 24px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    padding: 0.8em 1em;
}
h1{
    font-family: 'DM Serif Display';
    font-size: 90px;
    margin: 90px 200px;
    color: aliceblue;
}

h2{
    font-family: 'DM Serif Display';
    font-size: 70px;
}

a{
    text-decoration: none;}


ul{
    list-style-type: none;
}

.titre_expo{
    margin-bottom: 0.5em;
}


.title{
    background-color: black;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("fond3.jpg");
    background-size: cover;
    background-position: 0px -20px;
    text-align: center;
    height: 600px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
    flex-direction: column;
}

.Exposition{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /*width: 100%;*/  
    padding: 75px 60px;
    /*justify-content: center;*/
}

.liste_expo{
    grid-column: 1/7;
}

.text_expo{
    margin-top: -10px;
    margin-bottom: 40px;
    grid-column: 8 / 13;
}

.textdeco, .fleche_expo{
    color:black;
    font-size: 35px;
    margin: 20px;
}

.cliquable_expo{
    padding: 0px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.cliquable_expo:hover {
    background-color: black;
    .textdeco, .fleche_expo{
        color: white;  

    } 
}

.bouttonexpo{
    margin: 1em 0em;
}

hr{
    margin: 0px;
}



.textdeco{
    margin: 22px 0px;
    text-decoration: none;
    width: 365px;
}

.cliquable_expo{
    display: flex;
}

.fleche_expo{
    padding: 0px;
    margin: 40px 0px;
}



.liste_expo{
    margin: 10px;
}

.text_expo{
    margin: 10px;
}

.quote{
   text-align: center;
   padding-top: 6em;
   padding-bottom: 4em;
   padding-left: 2em;
   padding-right: 2.5em;
   font-family: 'DM Serif Display';
    font-size: 32px;
}

.collec1image, .collec2image{
    position: relative;
    overflow: hidden;
}

.guillemets {
    font-size: 150px;
    line-height: 0%;
}

.guillemets2 {
    font-size: 150px;
    margin-left: 84vw;
}

.collec1image::after{
    /*display: none;*/
    opacity: 0;
    color: white;
    content: "Découvrir";
    font-family: 'DM Serif Display';
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.6s ease;
}

.collec2image::after{
    /*display: none;*/
    opacity: 0;
    color: white;
    content: "Découvrir";
    font-family: 'DM Serif Display';
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titre_collection {
    text-align: center;
}

.collection {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.espace {
    color: #FDF9F9;
}

.collection-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em 10em;
}

.collec1texte, .collec2texte {
    display: flex;
    justify-content: center;
    margin: 0px 95px;
}


.texte_collec {
    /*width: 325px;*/
    /*padding: 10px 20px;*/
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 40px;

    /*border-left: 1px solid black;
    border-right: 1px solid black;*/

    flex: 0 0 50%;
    max-width: 100;
}

.div-text-test{
    position: relative;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px 20px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.collec {
    flex: 0 0 50%;
    padding: 3em;
    box-sizing: border-box;
}

.fleche_collec{
    color:black;
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 20px;
}

.imgcollec {
    width: 100%;
    transition: all 0.6s ease;
}

.collec1image:hover {
    .imgcollec{
        filter: blur(5px);
        transform: scale(1.1);
    }
}
.collec1image:hover::after {
    opacity: 1;
}
.collec2image:hover {
    .imgcollec{
        filter: blur(5px);
        transform: scale(1.1);
    }
}
.collec2image:hover::after {
    opacity: 1;
}

.h3collec{
    color:black;
    font-size: 35px;
}


.description_collec{
    text-align: right;
    font-weight: 200;
    font-style: italic;
}

.bouttoncollec{
    margin-top: -40px;
    margin-bottom: 5em;
    padding: 0px;
    text-align: center;
}

footer{
    display: flex;
    color:#FDF9F9;
    background-color: black;
}

footer a, footer p{
    color: white;
    font-size: 20px ;
}


.liste_foot{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0em 10em;
}