/* *************************************MEDIA QUERIES********************************************* */

@media screen and (min-width: 1800px) {
  button {
    font-size: 32px;
  }

  h1 {
    font-size: 98px;
  }

  h2 {
    font-size: 72px;
  }

  footer h3 {
    font-size: 44.5px;
  }

  footer p {
    font-size: 22px;
  }

  footer nav {
    font-size: 22px;
  }
}

@media screen and (max-width: 1200px) {
  footer article {
    max-width: 220px;
  }
}

@media screen and (max-width: 995px) {
  .quote {
    width: 88%;
    padding: 80px 0;
  }

  footer {
    column-gap: unset;
    padding: 80px 2.1% 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "ho ad"
      "co na";
    justify-items: center;
  }

  .logo-footer {
    display: none;
  }

  .logo-footer img {
    display: none;
  }

  footer article {
    max-width: 180px;
  }

  .planning {
    transform: translateY(25%);
    grid-area: ho;
  }

  .adress {
    transform: translateY(25%);
    grid-area: ad;
  }

  .contact {
    grid-area: co;
  }

  footer nav {
    grid-area: na;
  }

  .contact a {
    scale: 0.8;
  }
}

@media screen and (max-width: 860px) {
  header {
    flex-direction: column-reverse;
    height: 243px;
    align-items: start;
    margin: 29px auto 0;
    width: 96%;
  }

  .navbar ul {
    text-decoration: underline #fdf9f9;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
  }

  .navbar span {
    display: none;
  }

  h1 {
    line-height: normal;
    padding-top: 29px;
  }

  .expo-online img {
    width: 90%;
    height: unset;
  }

  .expo-online iframe {
    width: 90%;
    height: unset;
  }

  .shop img {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  button {
    height: 48px;
  }

  .hero {
    margin-bottom: 120px;
  }

  /* .hero::before {
    background-image: url(/médias/index/photo-statue-image-header-accueil-mobile.webp);
  } */

  h1 {
    padding-bottom: 80px;
    font-size: calc(33px + 1.8vw);
  }

  /* .art-prehistorique p {
    max-width: 80vw;
  } */

  .info {
    padding-bottom: 80px;
  }

  .info h2 {
    text-align: center;
    margin: 0 auto;
    padding: 29px 0;
  }

  .info ul {
    width: 80%;
    margin: 0 auto;
    border-left: 2px solid #fdf9f9;
  }

  .info-button {
    margin: 29px auto 0;
    height: 48px;
  }

  .quote {
    width: 92%;
  }

  .quote h2 {
    font-size: 18px;
  }

  .access {
    flex-direction: column-reverse;
    width: 100%;
    padding-top: 0;
  }

  .access-info {
    width: 100%;
  }

  .access h2,
  .access p {
    margin: 0 auto;
    width: 74.65%;
    max-width: unset;
  }

  .access img {
    width: 100%;
    height: unset;
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 29px;
    border-left: none;
  }

  .access-button {
    margin: 0 auto 80px;
    height: 48px;
    min-width: unset;
  }

  .expo-online {
    width: 100%;
  }

  .expo-button {
    height: 48px;
  }

  .activity {
    width: 100%;
  }

  .activity h2,
  .activity p {
    margin: 0 auto;
    width: 74.65%;
    max-width: unset;
  }

  .activity-button {
    margin: 0 auto 80px;
    height: 48px;
    min-width: unset;
    width: 75.21%;
  }

  .shop {
    width: 100%;
    flex-direction: column-reverse;
  }

  .shop h2,
  .shop p {
    margin: 0 auto;
    width: 74.65%;
    max-width: unset;
  }

  .shop-button {
    margin: 0 auto 80px;
    height: 48px;
    min-width: unset;
    width: 75.21%;
  }

  .shop img {
    border-left: none;
    margin: unset;
    padding: 0 0 29px;
    width: 100%;
    height: unset;
  }

  .partner {
    width: 100%;
    flex-direction: column-reverse;
    padding-bottom: 80px;
  }

  .partner h2,
  .partner p {
    margin: 0 auto;
    width: 74.65%;
    max-width: unset;
  }

  .partner-logo {
    margin: 80px auto 29px;
    width: 70%;
  }

  .partner-logo img {
    width: 77px;
    height: 77px;
  }

  .partner-button {
    margin: 0 auto;
    height: 48px;
    min-width: unset;
    width: 75.21%;
  }

  footer {
    padding: 29px 2.1%;
    grid-template-columns: 1fr 1fr;
  }

  footer article {
    max-height: 160px;
    max-width: 160px;
  }

  footer p {
    margin-top: 14px;
  }

  .contact {
    min-width: 155px;
  }

  .contact a {
    scale: 0.6;
    margin-right: 8px;
    margin-top: 14px;
  }
}

@media screen and (max-width: 425px) {
  footer article,
  footer nav {
    max-width: 140px;
  }

  .contact {
    min-width: unset;
  }
}
