/* *************************************MEDIA QUERIES********************************************* */

@media screen and (min-width: 1800px) {
  button {
    font-size: 32px;
  }
  h1 {
    font-size: 98px;
  }
  .exposition h2 {
    font-size: 72px;
  }
  .exposition a {
    font-size: 38px;
  }
  .collection h2 {
    font-size: 72px;
  }
  .head-collection {
    font-size: 38px;
  }
  .meta {
    font-size: 24px;
  }
  footer h3 {
    font-size: 44.5px;
  }
  footer p {
    font-size: 22px;
  }
  footer nav {
    font-size: 22px;
  }
}

@media screen and (max-width: 1200px) {
  footer article {
    max-width: 220px;
  }
}

@media screen and (max-width: 995px) {
  .button-expo {
    height: 65px;
    width: 400px;
  }
  footer {
    column-gap: unset;
    padding: 80px 2.1% 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "ho ad"
      "co na";
    justify-items: center;
  }

  .logo-footer {
    display: none;
  }

  .logo-footer img {
    display: none;
  }
  footer article {
    width: 180px;
  }
  .planning {
    transform: translateY(25%);
    grid-area: ho;
  }
  .adress {
    transform: translateY(25%);
    grid-area: ad;
  }
  .contact {
    grid-area: co;
  }

  footer nav {
    grid-area: na;
  }
  .contact a {
    scale: 0.8;
  }
}

@media screen and (max-width: 860px) {
  header {
    flex-direction: column-reverse;
    height: 243px;
    align-items: start;
    margin: 29px auto 0;
    width: 96%;
  }
  .navbar ul {
    text-decoration: underline #fdf9f9;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
  }
  .navbar span {
    display: none;
  }
  h1 {
    line-height: normal;
    padding-top: 29px;
  }
  .button-expo {
    width: 380px;
  }
}
@media screen and (max-width: 700px) {
  .exposition {
    width: 100%;
    margin: 0 auto 80px;
  }

  .exposition h2 {
    padding-bottom: 80px;
    margin-bottom: 0;
  }

  .img-expo {
    display: none;
  }

  .list-expo {
    width: 100%;
  }

  .list-expo ul {
    width: 100%;
  }

  .exposition p {
    margin-left: 5%;
  }

  .button-expo {
    background-color: #1f1a1a;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    margin: 0;
  }

  .exposition button {
    width: 80%;
  }

  .collections1,
  .collections2 {
    width: 100%;
    flex-direction: column;
    row-gap: 80px;
  }

  .collection article {
    width: 100%;
    height: 552px;
  }

  .collection article a {
    align-items: center;
    row-gap: 29px;
  }

  .info-collection {
    font-weight: 400;
    border: unset;
    height: 28%;
    flex-direction: column;
    width: 100vw;
  }

  .head-collection {
    width: 96%;
    font-family: "Dm Serif Display";
    margin-left: -29px;
    justify-content: space-evenly;
  }

  .meta {
    font-size: 18px;
  }

  .img-collection {
    width: 101.35vw;
  }

  .collection img {
    width: 100%;
    scale: unset;
  }

  .button-collec {
    width: 55vw;
    height: 72px;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    margin-bottom: 120px;
  }

  .hero::before {
    background-image: url(/médias/index/photo-statue-image-header-accueil-mobile.webp);
  }

  .hero a {
    width: 220px;
    height: 48px;
  }

  .button-expo {
    height: 54px;
  }

  .collection article {
    height: 440px;
  }

  .info-collection {
    height: 38%;
  }

  .button-collec {
    width: 72vw;
    height: 56px;
  }

  footer {
    padding: 29px 2.1%;
    grid-template-columns: 1fr 1fr;
  }

  .logo-footer {
    width: 82px;
    height: 90px;
    border-right: 2px solid #d9d9d9;
    transform: translateY(120%);
  }

  .logo-footer img {
    width: 82px;
    height: 90px;
  }

  footer article {
    max-height: 160px;
    max-width: 160px;
  }

  footer p {
    margin-top: 14px;
  }
  .contact a {
    scale: 0.6;
    margin-right: 8px;
    margin-top: 14px;
  }
}

@media screen and (max-width: 425px) {
  .head-collection {
    margin-left: 8px;
  }
  .logo-footer {
    width: 68px;
    height: 75px;
    transform: translateY(140%);
  }

  .logo-footer img {
    width: 68px;
    height: 75px;
  }

  footer article,
  footer nav {
    max-width: 140px;
  }
  .contact {
    min-width: unset;
  }
}
